* {
  transition: ease-in-out .5s;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  font-family: ui-sans-serif,
    system-ui,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
  /* font-family: Manrope, sans-serif;
  color: #222; */
}
